<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <a th:href="@{/addItmes}" th:text="添加"></a>
    <table border="1" cellspacing="0">
        <tr>
            <td>产品编号</td>
            <td>产品名称</td>
            <td>产品价钱</td>
            <td>产品备注</td>
            <td>生产日期</td>
            <td>操作</td>
        </tr>
        <tr th:each="c:${itemsList}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.price}"></td>
            <td th:text="${c.detail}"></td>
            <td th:text="${#dates.format(c.createtime,'yyyy-MM-dd hh:mm:ss')}"></td>
            <td>
                <a th:href="@{/updItmes(id=${c.id})}" th:text="修改"></a>
                <a th:href="@{/delItmes(id=${c.id})}" th:text="删除"></a>
            </td>
        </tr>
    </table>

</center>
</body>
</html>